body {
    margin: 0;
    padding: 0;
    background-color: white;
  }
  
  .main {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .task-box {
        padding: 50px; 
        margin-bottom: -50px;
        background-color: white;
        border:3px solid white;
        border-radius:10px;
        box-shadow: 04px 8px 0 rgba(96,96,96,0.2), 0 6px 20px 0 rgba(96,96,96,0.2);
  }

  
  .input-taking {
    margin-bottom: 20px;
  }
  
  .input-taking input {
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  .button-container {
    width: 100%; /* Make container full width */
    display: flex;
    justify-content: center; /* Center button horizontally */
  }

  .TaskButton {
    width: 400px;
    padding: 10px 20px; /* Adjust padding as needed */
    font-size: 16px; /* Adjust font size as needed */
    background-color: #6fb3bb;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .TaskButton:hover {
    background-color:  #4d9099;
  }
  
  .TaskButton:active {
    background-color:  #4d9099;
  }