* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.navbar {
  z-index: 1000;
  position: absolute;
  top: 0;
  /* background-color: #6fb3bb; */
  background-image: linear-gradient(#a1cdd2,#378f99);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 10px 2%;
  height: 80px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo h1 {
  font-weight: 600;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.logoimg {
  width: 40px;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  background-color: aliceblue;
  cursor: pointer;
  margin-right: 15px;
}

ul li {
  display: inline-block;
  margin: 10px 20px;
}

ul li button {
  border: none;
  background-color: transparent;
}

ul li button :hover{
  color: white;
}

ul li button :active {
  color: white;
}

ul li Link{
  color: black;
}

/* .searchbox {
    position: relative;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    border-radius: 50px;
    width: 500px;
}

.searchbox input{
    width: 500px;
    padding: 3px 40px 3px 10px;
    background-color: transparent;
    border: 0;
    outline: 0;
    color: black;
    font-size: 15px;
    max-width: 500px;
}

.search {
    align-self: right;
    right: 0;
} */
