.navbar {
  z-index: 1000;
  position: absolute;
  top: 0;
  background-color: #6fb3bb;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
  height: 10%;
}

.causecraft {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:20%;
}

.text{
  font-size: 200%;
  font-weight: 600;
  width: 75%;
}

.logo{
  width: 20%;
}

.logoimg {
  width: 100%;
  border-radius: 50%;
  background-color: aliceblue;
}

ul li {
  display: inline-block;
  margin: 10px 20px;
}

ul li button {
  border: none;
  background-color: transparent;
}

ul li button :hover{
  color: white;
}

ul li button :active {
  color: white;
}

ul li Link{
  color: black;
}

/* .searchbox {
    position: relative;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    border-radius: 50px;
    width: 500px;
}

.searchbox input{
    width: 500px;
    padding: 3px 40px 3px 10px;
    background-color: transparent;
    border: 0;
    outline: 0;
    color: black;
    font-size: 15px;
    max-width: 500px;
}

.search {
    align-self: right;
    right: 0;
} */
