.Profile-container {
  height: 100vh;
  overflow: auto;
  background-color: white;
}

.profile-background {
  display: flex;
  height: 320px;
  width: 100%;
  background-color:azure;
}
.profile-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 2px solid black;
  margin-top: 100px;
  margin-left: 670px;
}
.profile-pic input {
  height: 100px;
  border-radius: 50%;
}
/* .profile-pic p {
  padding-left: 50px;
} */
.p-5 {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
}
/* .count {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  padding-left: 580px;
  gap: 30px;
  list-style: none;
}
.count a {
  text-decoration: none;
  color: black;
} */
.username {
  margin-top: 15px;
  padding-left: 655px; /* Adjust margin for spacing */
}
.email {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  padding-left: 655px;
}

.info {
  margin-left: 520px;
}
.info h2 {
  margin-bottom: 150px;
  margin-top: 20px; /* Add space between the paragraphs */
  font-weight: 5px;
}

.container-box {
  display: flex;
  justify-content: space-between;
  padding: 25px 40px 0px 40px;
  /* background-color: #6fb3bb; */
  background-image: linear-gradient(#a1cdd2,#378f99);
  border-radius: 10px;
  padding-bottom: 20px;
  /* align-items: center; */
}

.About {
  position: relative;
  width: 27%;
  /* margin: 25px 40px 0px 40px; */
  margin-right: 1%;
  height: 500px;
  background-color:azure;
  border: 3px solid white;
  border-radius: 10px;
  box-shadow: 0 -4px 8px 0 rgba(96, 96, 96, 0.2),
    0 6px 20px 0 rgba(96, 96, 96, 0.2);
    
  padding-bottom: 20px;
}

.About p {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}

.rightpart {
  background-color:rgb(227, 255, 255);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 3%;
  width: 73%;
  justify-content: space-between;
  border-radius: 10px;
}

.rightpart p {
  font-size: 20px;
  font-weight: 700;
}
.camera-icon {
  font-size: 38px; /* Adjust the size as needed */
}
.roles{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #598d93;
  font-size: 30px;
  text-decoration: underline;
}
.right-volunteer a{
  text-decoration: none;
  color: black;
  text-align: center;
}
.right-donor a{
  text-decoration: none;
  color: black;
  text-align: center;
}
.right-executive a{
  text-decoration: none;
  color: black;
  text-align: center;
}
.ngo_v{
  width: 70vb;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100%;
}

.ngo_v:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
  background-color: #6fb3bb;
}