.main {
  display: flex;
  flex-direction: column;
}

.tasks {
  margin-bottom: auto;
  padding: 20px;

  width: 80%;
  max-width: 600px;
}

.tasks ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.tasks li {
  border: 1px solid #ccc; /* Border style */
  height: 50px; /* Height */
  width: 40vb; /* Width */
  border-radius: 10px; /* Border radius */
  margin-bottom: 10px;
  padding: 10px;
}

.tasks li:hover {
  background-color: #f0f0f0;
}

.tasks h2 {
  margin-bottom: 10px;
  text-align: top;
  font-family: "Poppins", sans-serif;
}

.ct {
  position: fixed;
  bottom: 160px; /* Adjust this value to adjust vertical position */
  right: 80px; /* Adjust this value to adjust horizontal position */
  background-color: #6fb3bb; /* Button background color */
  color: black; /* Button text color */
  padding: 10px 20px; /* Padding around button text */
  border: none; /* Remove button border */
  border-radius: 10px; /* Rounded corners */
  cursor: pointer; /* Show pointer cursor on hover */
  font-size: 16px;
  width: 270px;
  z-index: 999;
}
.At {
  position: fixed;
  bottom: 80px; /* Adjust this value to adjust vertical position */
  right: 80px; /* Adjust this value to adjust horizontal position */
  background-color: #6fb3bb; /* Button background color */
  color: black; /* Button text color */
  padding: 10px 20px; /* Padding around button text */
  border: none; /* Remove button border */
  border-radius: 10px; /* Rounded corners */
  cursor: pointer; /* Show pointer cursor on hover */
  font-size: 16px;
  width: 270px;
  z-index: 999;
}

.st {
  position: fixed;
  bottom: 600px; /* Adjust this value to adjust vertical position */
  right: 80px; /* Adjust this value to adjust horizontal position */
  background-color: #6fb3bb; /* Button background color */
  color: black; /* Button text color */
  padding: 10px 20px; /* Padding around button text */
  border: none; /* Remove button border */
  border-radius: 10px; /* Rounded corners */
  cursor: pointer; /* Show pointer cursor on hover */
  font-size: 16px;
  width: 220px;
  z-index: 999;
}

.ct:hover {
  background-color: #6fb3bb;
}
