.main {
  display: flex;
  flex-direction: column;
  background-color: rgb(250, 240, 227);
}

.tasks {
  margin-bottom: auto;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap:4%;

}

.tasks div {
  border-radius: 10px; /* Border radius */
}

.tasks li:hover {
  background-color: #f0f0f0;
}

.tasks h2 {
  text-align: top;
  font-family: "Poppins", sans-serif;
}

.tasklist{
  display: flex;
  flex-direction: column;
  height: 100%;
  gap:3%;
}

.singletask{
  display: flex;
  flex-direction: column;
  gap: 5%;
  border: 1px solid black;
}

.tasktitle{
  font-size:120%;
}

.taskdesc{
  font-size: 80%;
  border: 1px solid black;
  margin:0% 10% 0% 10%;
  text-align: center;
  height: 50%;
  padding: 1.5%;
  background-color: white;
}

.taskstats{
  display: flex;
  justify-content: space-around;
}

.taskrequest{
  color: green;
  width:10%;
  font-size: 50%;
}

.taskrequest_dead{
  opacity: 0.5;
  pointerEvents: 'none';
  width:10%;
  font-size: 50%;
}

.ct {
  position: fixed;
  bottom: 160px; /* Adjust this value to adjust vertical position */
  right: 80px; /* Adjust this value to adjust horizontal position */
  background-color: #7b736b; /* Button background color */
  color: black; /* Button text color */
  padding: 10px 20px; /* Padding around button text */
  border: none; /* Remove button border */
  border-radius: 10px; /* Rounded corners */
  cursor: pointer; /* Show pointer cursor on hover */
  font-size: 16px;
  width: 270px;
  z-index: 999;
}
.At {
  position: fixed;
  bottom: 80px; /* Adjust this value to adjust vertical position */
  right: 80px; /* Adjust this value to adjust horizontal position */
  background-color: #7b736b; /* Button background color */
  color: black; /* Button text color */
  padding: 10px 20px; /* Padding around button text */
  border: none; /* Remove button border */
  border-radius: 10px; /* Rounded corners */
  cursor: pointer; /* Show pointer cursor on hover */
  font-size: 16px;
  width: 270px;
  z-index: 999;
}

.st {
  position: fixed;
  bottom: 600px; /* Adjust this value to adjust vertical position */
  right: 80px; /* Adjust this value to adjust horizontal position */
  background-color: #7b736b; /* Button background color */
  color: black; /* Button text color */
  padding: 10px 20px; /* Padding around button text */
  border: none; /* Remove button border */
  border-radius: 10px; /* Rounded corners */
  cursor: pointer; /* Show pointer cursor on hover */
  font-size: 16px;
  width: 220px;
  z-index: 999;
}

.ct:hover {
  opacity: 0.6;
}
