



.header2 {
    position: relative;
    background-color: #5fa482;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    overflow: hidden;
  }
  .header a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px; /* Add padding to increase clickable area */
    border-radius: 5px; /* Add border radius for rounded corners */
    background-color: #333; /* Background color */
  }
  
  .header2 a:hover {
    text-decoration: underline;
    color: #3eb567;
    background-color: #d6cfc8;
  }
  


.name1 textarea{
    background-color: transparent;
    outline: none;
    color: #fff;
    font-size: 20px;
    width: 400px;
    /* max-width: calc(100% - 10px); */
    height: 30px;
    resize: none;
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    border-color: #5fa482;
}

.main-content {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 72px);
  }
  .circle {

    margin-top: 120px;
    margin-left: 60px;

    width: 50px; /* Adjust the width of the circle */
    height: 50px; /* Adjust the height of the circle */
    background-color: #125b50; /* Set the background color to red */
    border-radius: 50%; /* Create a circle by setting border-radius to 50% */
  }
  
  .name2 textarea{
    background-color: transparent;
    outline: none;
    color: #125b50;
    font-size: 30px;
    text-transform: uppercase;
    margin-left: 0px;
    width: 400px;
    font-weight: 100;
    font-family: Agrandire wide;
    /* max-width: calc(100% - 10px); */
    height: 30px;
    resize: none;
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    border-color: #eff6f2;
}
  .tagline {
    margin-top: 10px;
    text-transform: uppercase;
    margin-left: 60px;
    font-size: 30px;
    color: #125b50;
    font-weight: 100;
    font-family: Agrandire wide;
  }

  .ngoname{
    margin-left: 60px;
    font-size: 80px;
    color: #125b50;

  }

  .left-section, .right-section {
    width: 50%; /* Adjust this width as needed */

  }

  .left-section{
    background-color: #eff6f2;

  }
  .right-section{
    background: linear-gradient(to bottom right, rgb(132, 210, 132), #125b50);
  }




.about-us {
    display: flex;
    height: 100vh; /* Take up complete screen height */
  }
  
  .about-us .left1-section, .about-us .right1-section {
    width: 50%;

  }


  .right1-section{

  }

  .squares-container {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .square {
    flex-grow: 1;
    margin: 5px;
  }
  
  .square1 {
    background: linear-gradient(to bottom right, #9bd0b7, #3d946e);
    width: 350px;
    height:350px;
    position: relative;
    top:50px;
    left:0px;
  }
  
  .square2 {
    background: linear-gradient(to bottom right, #75c6a3, #20804f);
    width: 350px;
    height:350px;
    position: relative;
    top:-250px;
    left:250px;

  }
  
  .square3 {
    background: linear-gradient(to bottom right, #5ebf9b, #1b6e43);
    width: 380px;
    height:380px;
    position: relative;
    top:-380px

  }
  
  .square4 {
    background: linear-gradient(to bottom right, #49b991, #155e37);
    width: 270px;
    height:270px;
    position: relative;
    top:-700px;
    left:300px;
  }

  .left1-section-about-us{
    font-size: 48px;
    color: #125b50;
    font-weight: 800;
    margin: 50px;
  }
.about-us-text{
    margin-left: 50px;
}

.about-us-text textarea{
    margin-left: 0px;
    color: #125b50;
    font-size: 26.5;
    /* width: 800px; */
    line-height: 2;
}


  .left1-section{
  }




.recent-events {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    height: 100vh;
  }

  .event-heading {
    display: block;
    font-size: 0px;
    /* padding: 10px; */
    margin-right: 40px;
    margin-bottom: 0px;
  }
  
.event-container {
    display: flex;
    gap:10px;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    justify-content: space-between;
  }



  
  .event {
    flex-shrink: 0;
    flex-grow: 0;
    padding: 0px;
    background-color: #f1eeeb;
    width: 300px;
    margin-right: 70px;
  }
  
  .event:last-child {
    margin-right: 0;
  }
  
  .event:first-child {
    margin-left: 20px;
  }
  .image-container {
    width: 200px; /* Adjust width as needed */
    height: 200px; /* Adjust height as needed */
    overflow: hidden;
    border-radius: 50%;
  }
  
  .event img {
    width: 100%; /* Ensure the image fills the container */
    height: auto; /* Maintain aspect ratio */
    display: block;
    border: 5px solid #000; /* Example border styling */
  }
  
/* 
  .event img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  } */
  
  .event-description textarea {
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    outline: none;
    color: #000;
    font-size: 16px;
  
    resize: none;
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
  }
  
  .add-button {
    right: 220px;
    width: 150px;
    position: relative;
    top:300px;

    background-color: #1dce8d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  


  .contact-us {
    display: flex;
    margin-top:20px ;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #eff6f2;
    
  }



/* .contact-us .top-section {
    height: 80vh; /* 80% of the screen height */
    /* background-color: #f1eeeb;
    margin-left: 20px;
    margin-right: 20px;
    width:max-content;

  } */ 

  .top-section {
    flex-grow: 1; /* Grow to fill the remaining space */
    margin: 0 30px; /* Padding from both sides */
    background: linear-gradient(to bottom right, #96c765, #03636e); /* Gradient background */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    width: calc(100% - 60px); 
    color:#125b50;

  }
  .top-section h1{
    margin-top: -100px;
    font-size: 30px;
    font-weight: 100;

  }
  .top-section p{
    margin-top: 10px;
    font-size:80px ;

  }
 
.bottom-section h2{
    color: #125b50;
    margin: 0 50px;
}


.donor-button {
  background-color: white;
  color: #125b50;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  margin-bottom: 50px;
  transition: background-color 0.3s ease;

  width: 260px;
}
.volunteer-button{

    background-color: white;
    color: #125b50;
    width: 260px;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    margin-bottom: 50px;
    transition: background-color 0.3s ease;

    margin-top: 50px;
}

  
  .contact-us .bottom-section {
    height: 20vh; /* 20% of the screen height */
    width: 100vw;

  }


  .bottom-section textarea{
    color: #125b50;
  }


.container-popup{
  position:absolute;
 left: 0px;
 right: 0px;
 top: 0px;
 bottom: -2250px;
z-index: 12;

  background-color: rgba(0, 0, 0,.5);
  overflow-x: hidden;
  overflow-y: hidden;
}



.popup{
    position: fixed;
    width: 800px;
    background:rgb(233, 111, 111);
    border-radius: 6px; 
    position: absolute;
    top: 0%; left: 50%;
    transform: translate(-50%, -50%) scale(.1) ; 
    text-align: center; padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
  
  }

.popup-open{
    padding: 20px;
    width: 800px;
    background:rgb(242, 241, 241);
    border-radius: 6px; 
    position: absolute;
    /* top: 0%; */
     left: 50%;
    /* transform: translate(-50%, -50%) scale(1) ;  */
    text-align: center; padding: 0 30px 30px;
    color: #333;
    /* visibility: hidden; */
    transition: transform 0.4s, top 0.4s;
  
    visibility: visible;
    bottom: 10%;
    transform: translate(-50%, -50%) scale(1) ; 
  }
  .popup-content{

  }
  .popup-btn{
    background-color: #003f23;
    color: #f9f9f9;
    width: 260px;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    margin-bottom: 50px;
    transition: background-color 0.3s ease;
    margin: 0 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}