.Homepage-container {
 height: 100vh;
 width: 100wh;
 margin: 0;
 padding: 0%;
 background-color: white;
}




.Homepage-body-container {
 height: 90%;
 width: 100%;

 display: flex;
}

.Homepage-main-body-container {

 
 width: 70%;
 display: flex;
 flex-direction: column;
 flex: 1;
 
}

.Homepage-mainbody-container-header {
 /* border: 2px solid black; */
 height: 70px;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 30px;

}

.Homepage-mainbody-container-sample-image-section {
  height: 70%;
 border: 2px solid black;
}

.Homepage-mainbody-container-footer {
 /* border: 2px solid black; */
 height: 20%;
 display: flex;
 justify-content: center;
 align-items: center;
 
 
}

.Homepage-footer-container
{
    display: flex;
    
    width: 70%;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.Homepage-footer-text
{
    font-size: 25px;
    margin-right: 50px;
}

.Homepage-footer-button
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    height: 50px;
    width: fit-content;
    font-size: 25px;
    border-radius: 1rem;
    background-color: #A6A6A6;
    border: none;
    cursor: pointer;
    
}
.Homepage-footer-button:hover {
    background-color: white;
    color: black;
    border: 1px solid black
   }



.Homepage-notification-logout:hover {
 background-color: rgb(67, 67, 65); /* Change the color for the hover effect */
}
