* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow: auto;
}

body {
  background-color: #efecec;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 125px;
  height: 100%;
  
}


.websites {
  padding-left: 160px;
  padding-right: 100px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.websites a{
  text-decoration: none;
}

.ngo {
  width: 40vb;
  height: 40vb;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
}

.ngo h1{
  font-weight: 500;
  
}

.ngo:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}

.ngo button{
  width: 5rem;
  height: 2rem;
  border-radius: 20px;
}

.build {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  /* opacity: 0.8; */
  border-radius: 20px;
  bottom: 3%;
  height: 100px;
  width: 700px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}

.build button {
  border: none;
  background-color: #6fb3bb;
  padding: 5px 5px;
  margin: 20px 20px;
  border-radius: 20px;
  height: 60px;
  width: 300px;
  font-size: 15px;
  transition: opacity 0.15s, box-shadow 0.15s;
}

.build button :hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}

.build button :active {
  opacity: 0.6;
}

.head{
  text-align: center;
  padding-bottom: 20px;
}