/* Profilepage.css */

.profilepage-body {
 display: flex;
 flex-direction: column;
 height: 100vh;
 width: 100vw;
}

.profilepage-container {
 display: flex;
 flex-direction: column;
 flex: 1;
 height: 100vh;
 width: 100vw;
 margin: 0;
 padding: 0;
 position: relative;
}

.profilepage-header-container {
 display: flex;
 justify-content: space-between;
 align-items: center;
 background-color: rgb(224, 215, 215);
 height: 10%;
}

.profilepage-header-logo img {
 max-height: 50px;
}

.profilepage-header-home {
 font-weight: bold;
 cursor: pointer;
 display: flex;
 align-items: center;
 border: 2px solid black;
 border-radius: 2rem;
}

.profilepage-header-home button {
 background: none;
 border: none;
 cursor: pointer;
 display: flex;
 align-items: center;
 font-size: 1.5rem;
 background-color: rgb(172, 169, 160);
 border-radius: 2rem;
}

.profilepage-header-home button img {
 max-height: 35px;
 margin-right: 5px;
}

.profilepage-rest-body-container {
 display: flex;
 flex-direction: column;
 height: 90vh;
}

.profilepage-username-container {
 flex: 3;
 background-color: skyblue;
 display: flex;
 align-items: center;
 justify-content: center;
 font-size: 3.5rem;
}

.profilepage-profile-container {
 position: absolute;
 left: 7%;
 transform: translate(-50%, 50%);
}

.profilepage-profile-icon {
 width: 100%;
 height: 100%;
 /* border-radius: 50%; */
 /* overflow: hidden; */
}

.profilepage-profile-icon img {
 width: 400%;
 height: 400%;
 object-fit: cover;
}

.profilepage-footer-container {
 display: flex;
 flex: row;
 flex: 6;
 background-color: white;
}

.profilepage-footer-button-container {
 flex: 6;
 display: flex;
 width: 70%;
 flex-direction: column;
 justify-content: space-evenly;
 align-items: center;
 border-right: 2px solid black;
}

.profilepage-list-container {
 flex: 6;
 display: flex;
 width: 30%;
 border-left: 2px solid black;
 flex-direction: column;
 justify-content: space-evenly;
 align-items: center;
}

.profilepage-ngo-name {
 text-decoration: none;
 font-size: 2rem;
 color: black;
}

/* Additional styling for footer buttons */
.profilepage-footer-button {
 padding: 10px;
 cursor: pointer;
 background-color: rgb(172, 169, 160);
 color: black;
 border: none;
 border-radius: 1rem;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 20px;
 transition-duration: 0.4s;
 margin: 4px 2px;
 cursor: pointer;
 width: 300px;
}

.profilepage-footer-button:hover {
 background-color: white;
 color: black;
 border: 1px solid rgb(67, 134, 236);
}
