/* Profilepage.css */

.profilepage-body {
 display: flex;
 flex-direction: column;
 height: 100vh;
 width: 100vw;
}

.profilepage-container {
 display: flex;
 flex-direction: column;
 flex: 1;
 height: 100vh;
 width: 100vw;
 margin: 0;
 padding: 0;
 position: relative;
}

.profilepage-rest-body-container {
 display: flex;
 flex-direction: column;
 height: 90vh;
}

.profilepage-middle-section {
 height: 50vh;
 display: flex;
 flex-direction: column;
 position: relative;
 /* border: 2px solid black; */
}

.profilepage-username-container {
 height: 25vh;
 background-color: #0CC0DF;
 display: flex;
 align-items: center;
 justify-content: center;
 font-size: 3.5rem;
 position: relative;
 z-index: 0;
}

.profilepage-profile-container {
 position: absolute;
 top: 50%; /* Center vertically in the middle-section */
 left: 10%;
 transform: translate(-50%, -50%);
 z-index: 1; /* Set a higher z-index to place it on top of the username container */
 text-align: center; /* Center text */
}

.profilepage-profile-icon {
 width: auto;
 height: 700px;
}

/* Add styling for text below the profile icon */
.profilepage-profile-text {
 position: absolute;
 bottom: 0;
 left: 50%;
 transform: translateX(-50%);
 text-align: center;
 font-size: 1.5rem;
}

.profilepage-footer-container {
 display: flex;
 flex: row;
 flex: 6;
 z-index: 5;
 background-color: white;
 border: 2px solid black;
}

.profilepage-footer-button-container {
 flex: 6;
 display: flex;
 width: 70%;
 flex-direction: column;
 justify-content: space-evenly;
 align-items: center;
 border-right: 2px solid black;
}

.profilepage-list-container {
 flex: 6;
 display: flex;
 width: 30%;
 border-left: 2px solid black;
 flex-direction: column;
 justify-content: space-evenly;
 align-items: center;
}

.profilepage-ngo-name {
 text-decoration: none;
 font-size: 2rem;
 color: black;
}

/* Additional styling for footer buttons */
.profilepage-footer-button {
 padding: 10px;
 cursor: pointer;
 background-color: rgb(172, 169, 160);
 color: black;
 border: none;
 border-radius: 1rem;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 20px;
 transition-duration: 0.4s;
 margin: 4px 2px;
 cursor: pointer;
 width: 300px;
}

.profilepage-footer-button:hover {
 background-color: white;
 color: black;
 border: 1px solid black;
}
